<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizquest">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="QuizQuest"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizQuest">

        <!-- NORMAL LAUNCHER: LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other screens -->
        <activity android:name=".SignupActivity" android:exported="true" />
        <activity android:name=".HomeActivity" android:exported="true" />
        <activity android:name=".QuizActivity" android:exported="true" />
        <activity android:name=".ProfileActivity" android:exported="true" />
        <activity android:name=".ScoreActivity" android:exported="true" />
        <activity android:name=".PushQuestions" android:exported="true" />
        <activity android:name=".DashboardActivity" android:exported="true" />
        <activity android:name=".FirebaseTestActivity" android:exported="true" />
        <activity android:name=".AttemptsListActivity" android:exported="true" />
        <activity android:name=".AttemptDetailActivity" android:exported="true" />

    </application>

</manifest>
